@import "config";
@import "desktop";
@import "mobile";

body{
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}

.title{
  text-align: center;
}

.calculator{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .first-one{

    input::placeholder{
      font-family: 'Space Mono', monospace;
      font-weight: bold;
      font-size: 20px;
      color: hsl(183, 100%, 15%);
    }

    .button{
      margin-block-start: 1rem;
      margin-block-end: 1rem;

      .custom-button{
        background-color: hsl(189, 41%, 97%);
        color: hsl(183, 100%, 15%);
      }
    }
  }

  .second-one{
    border-radius: 12px;
    background-color: hsl(183, 100%, 15%);
    padding: 20px;

    label{
      color: hsl(172, 67%, 45%);
      font-size: 19px;
    }

    input{
      background-color: inherit;
      inline-size: min-content;
    }

    input::placeholder{
      font-size: 27px;
      font-weight: bold;
      color: hsl(172, 67%, 45%);
      font-family: 'Space Mono', monospace;
    }

    button{
      background-color: hsl(186, 14%, 43%);
    }

    .amount{
      display: flex;
      justify-content: space-between;
      margin-block-end: 1rem;
    }

    .person{
      display: flex;
      justify-content: space-between;
      margin-block-end: 4rem;
    }

    .write-up{
      color: hsl(189, 41%, 97%);
    }
  }
}

.attribution{
  font-size: 11px;
  text-align: center;
}
.attribution a{
  color: hsl(228, 45%, 44%);
}
